<header class="site-header">
  <div class="header-content">
    <span class="logo">CSE Motors</span>
    <div class="account-links">
      <% if (locals.loggedin) { %>
        <a href="/account/" class="account-link">Welcome <%= accountData.account_firstname %></a>
        <a href="/account/logout" class="account-link">Logout</a>
      <% } else { %>
        <a href="/account/login" class="account-link">My Account</a>
      <% } %>
    </div>
  </div>
</header> 