<!-- Main heading for my CSE Motors dealership project -->
 <%- messages() %>
<h1>Welcome to the CSE Motors Dealership!</h1>
<section class="delorean-hero">
  <div class="delorean-info">
    <h2 class="delorean-title">DMC Delorean</h2>
    <ul class="delorean-features">
      <li>Holds 3 cups</li>
      <li>Superman-style doors</li>
      <li>Comes with fuzzy dice!</li>
    </ul>
    <a href="#" class="cta-btn">Get Yours Today</a>
  </div>
  <div class="delorean-image">
    <img src="/images/car.png" alt="DMC Delorean">
  </div>
</section>
<section class="delorean-sections">
  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades-grid">
      <div class="upgrade-item">
        <a href="#"><img src="/images/flux_capacitor.png" alt="Flux Capacitor"></a>
        <a href="#" class="upgrade-link">Flux Capacitor</a>
      </div>
      <div class="upgrade-item">
        <a href="#"><img src="/images/flame_decals.png" alt="Flame Decals"></a>
        <a href="#" class="upgrade-link">Flame Decals</a>
      </div>
      <div class="upgrade-item">
        <a href="#"><img src="/images/bumper_stickers.png" alt="Bumper Stickers"></a>
        <a href="#" class="upgrade-link">Bumper Stickers</a>
      </div>
      <div class="upgrade-item">
        <a href="#"><img src="/images/hub_caps.png" alt="Hub Caps"></a>
        <a href="#" class="upgrade-link">Hub Caps</a>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul class="review-list">
      <li>"So fast, it almost feels like time travel!" (4/5)</li>
      <li>"Definitely the coolest car on the block." (4/5)</li>
      <li>"Makes me feel like McFly!" (5/5)</li>
      <li>"The most futuristic car I've seen." (4.5/5)</li>
      <li>"Living the 80's dream!" (5/5)</li>
    </ul>
  </div>
</section> 